 nav {
     font-family: 'Roboto Slab', sans-serif;
     margin: 0;
     padding: 0;
     width: 100%;
     z-index: 20;
 }
 
 nav ul {
     -webkit-font-smoothing: antialiased;
     text-shadow: 0 1px 0 #FFF;
     background: #FFF36E;
     list-style: none;
     list-style-type: none;
     margin: 0;
     padding: 0;
     width: 100%;
     font-family: 'Roboto Slab', sans-serif;
 }
 
 nav li {
     float: left;
     margin: 0;
     padding: 0;
     position: relative;
     min-width: 25%;
 }
 
 nav a {
     background: #FFF36E;
     color: #444;
     display: block;
     font-family: 'Roboto Slab', sans-serif;
     font: bold 16px/50px 'Roboto Slab', sans-serif;
     padding: 0 25px;
     text-align: center;
     text-decoration: none;
     -webkit-transition: all .25s ease;
     -moz-transition: all .25s ease;
     -ms-transition: all .25s ease;
     -o-transition: all .25s ease;
     transition: all .25s ease;
 }
 
 nav li:hover a {
     background: #FFF9B5;
 }
 
 nav li ul {
     float: left;
     left: 0;
     opacity: 0;
     position: fixed;
     top: 35px;
     visibility: hidden;
     z-index: 1;
     -webkit-transition: all .25s ease;
     -moz-transition: all .25s ease;
     -ms-transition: all .25s ease;
     -o-transition: all .25s ease;
     transition: all .25s ease;
 }
 
 nav li:hover ul {
     opacity: 1;
     top: 50px;
     visibility: visible;
 }
 
 nav li ul li {
     float: none;
     width: 100%;
 }
 
 nav li ul a:hover {
     background: #FFF36E;
 }
 /* Clearfix */
 
 .cf:after,
 .cf:before {
     content: "";
     display: table;
 }
 
 .cf:after {
     clear: both;
 }
 
 .cf {
     zoom: 1;
     position: fixed;
     height: auto;
 }
 
 
 ul.cf li.icon {
     display: none;
 }
 /* okay so this is where the navigation bar things start */