.body h1 {
    font-family: 'Roboto Slab', sans-serif;
}

.body h2 {
    font-family: 'Roboto', sans-serif;
}

.body h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.body h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.body p {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    line-height: 150%;
}

.body ul {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    list-style-type: circle;
    line-height: 150%;
}

.dayinlife {
    padding-left: 3pc;
    padding-right: 3pc;
    padding-bottom: 5pc;
}

.projectbullets li {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    line-height: 150%;
}

.electives table,
tr,
ul,
.column-left li {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    line-height: 150%;
    text-decoration: none;
    list-style-type: none;
    padding-left: 1pc;
    padding-right: 1pc;
}

.column-left {
    float: left;
    width: 25%;
}

.column-right {
    display: inline-block;
    width: 25%;
}

.column-center {
    display: inline-block;
    width: 25%;
}

.column-right-right {
    float: right;
    width: 24%;
}