 html,
 body {
     margin: 0;
     padding: 0;
 }
 
 .body {
     -webkit-animation: fadein .5s;
     /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein .5s;
     /* Firefox < 16 */
     -ms-animation: fadein .5s;
     /* Internet Explorer */
     -o-animation: fadein .5s;
     /* Opera < 12.1 */
     animation: fadein .5s;
 }
 
 @keyframes fadein {
     from {
         opacity: 0;
     }
     to {
         opacity: 1;
     }
 }
 /* Firefox < 16 */
 
 @-moz-keyframes fadein {
     from {
         opacity: 0;
     }
     to {
         opacity: 1;
     }
 }
 /* Safari, Chrome and Opera > 12.1 */
 
 @-webkit-keyframes fadein {
     from {
         opacity: 0;
     }
     to {
         opacity: 1;
     }
 }
 /* Internet Explorer */
 
 @-ms-keyframes fadein {
     from {
         opacity: 0;
     }
     to {
         opacity: 1;
     }
 }
 /* Firefox < 16 */
 
 @-moz-keyframes fadein {
     from {
         opacity: 0;
     }
 }
 /* Opera < 12.1 */
 
 @-o-keyframes fadein {
     from {
         opacity: 0;
     }
     to {
         opacity: 1;
     }
 }
 
 .body h1 {
     font-family: 'Roboto Slab', sans-serif;
 }
 /* Safari, Chrome and Opera > 12.1 */
 
 @-webkit-keyframes fadein {
     from {
         opacity: 0;
     }
 }
 
 .body h2 {
     font-family: 'Roboto', sans-serif;
 }
 
 .body h4 {
     font-family: 'Roboto', sans-serif;
     font-weight: 300;
     =======
 }
 /* Internet Explorer */
 
 @-ms-keyframes fadein {
     from {
         opacity: 0;
     }
 }
 
 .body h3 {
     font-family: 'Roboto', sans-serif;
     font-weight: 400;
 }
 
 .body p {
     font-family: 'Roboto', sans-serif;
     font-weight: 100;
     line-height: 150%;
 }
 /* Opera < 12.1 */
 
 @-o-keyframes fadein {
     from {
         opacity: 0;
     }
 }
 
 .body ul {
     font-family: 'Roboto', sans-serif;
     font-weight: 100;
     list-style-type: circle;
     line-height: 150%;
 }
 
 .body nav {
     font-family: 'Roboto Slab', sans-serif;
     text-decoration: none;
     list-style-type: none;
     list-style: none;
     z-index: 20;
 }
 
 .body div.toggler {
     padding-left: 20px;
     padding-right: 20px;
     cursor: pointer;
     -webkit-transition: all .25s ease;
     -moz-transition: all .25s ease;
     -ms-transition: all .25s ease;
     -o-transition: all .25s ease;
     transition: all .25s ease;
 }
 
 .body div.toggler:hover {
     background-color: #FFFBD5;
 }
 
 .body div.toggler:hover {
     background-color: #FFFBD5;
 }
 
 .body div.toggler div {
     display: none;
 }
 
 #cf,
 li,
 a {
     list-style: none;
 }
 
 .dayinlife {
     padding-left: 30px;
     padding-right: 30px;
     padding-bottom: 5pc;
 }
 
 .clubs {
     padding-left: 30px;
     padding-right: 30px;
     padding-bottom: 5pc;
 }
 
 .projectbullets li {
     font-family: 'Roboto', sans-serif;
     font-weight: 100;
     line-height: 150%;
 }
 
 .electives table,
 tr,
 ul,
 .column-left li {
     font-family: 'Roboto', sans-serif;
     font-weight: 100;
     line-height: 150%;
     text-decoration: none;
     list-style-type: none;
     padding-left: 1pc;
     padding-right: 1pc;
 }
 
 .column-left {
     float: left;
     width: 25%;
 }
 
 .column-right {
     display: inline-block;
     width: 25%;
 }
 
 .column-center {
     display: inline-block;
     width: 25%;
 }
 
 .column-right-right {
     float: right;
     width: 24%;
 }
 
 .footer {
     position: static;
     bottom: 0px;
     width: 100%;
     /* Height of the footer */
     height: 70px;
     text-align: center;
     padding-bottom: 10px;
 }
 /* Start of index elements */
 
 .welcome {
     padding-bottom: 20px;
     padding-left: 20px;
 }
 
 .welcome h1 {
     padding-bottom: 20px;
     padding-top: 20px;
     text-align: left;
 }
 
 .welcome p {
     line-height: 150%;
 }
 
 .welcome li {
     list-style-type: circle;
 }
 
 #accolades {
     padding: 20px 20px;
 }
 
 #accolades h2 {
     padding-top: 20px;
     padding-bottom: 20px;
 }
 
 #accolades li {
     padding-bottom: 20px;
 }
 
 #apply {
     padding-left: 20px;
     padding-bottom: 20px;
     padding-top: 10px;
 }
 
 #apply h2 {
     padding-top: 20px;
     padding-bottom: 10px;
 }
 
 .youmust {
     font-family: 'Roboto', sans-serif;
     font-weight: 100;
     line-height: 150%;
     padding-left: 30px;
 }
 
 .youmust li {
     padding-top: 10px;
     padding-bottom: 10px;
 }
 
 #info {
     font-family: 'Roboto', sans-serif;
     font-weight: 100;
     padding-left: 20px;
     padding-bottom: 20px;
     padding-top: 20px;
     line-height: 150%;
 }
 /* End of index elements */
 
 .theacademies {
     padding-top: 40px;
     padding-left: 30px;
     padding-right: 30px;
 }
 
 .theacademies li {
     list-style-type: circle;
 }
 
 .projectbullets li {
     list-style-type: circle;
 }
 
 .projectspadding {
     padding-right: 30px;
     padding-left: 30px;
 }
 
 .globaleducation {
     padding-top: 40px;
     padding-left: 30px;
     padding-right: 30px;
 }
 
 #accolades {
     padding: 20px 20px;
 }
 
 .youmust {
     font-family: 'Roboto', sans-serif;
     font-weight: 100;
     line-height: 150%;
 }
 
 .research {
     padding-left: 30px;
     padding-right: 30px;
 }
 
 .howtoapply {
     padding-left: 30px;
     padding-right: 30px;
 }
 
 @media screen and (max-width:780px) {}
 
 @media screen and (max-width:480px) {
     .body h1 {
         font-size: 30px;
     }
     .body div.toggler div {
         display: none;
     }
     #cf,
     li,
     a {
         list-style: none;
     }
     .dayinlife {
         padding-left: 30px;
         padding-right: 30px;
         padding-bottom: 5pc;
     }
     .clubs {
         padding-left: 30px;
         padding-right: 30px;
         padding-bottom: 5pc;
     }
     .projectbullets li {
         font-family: 'Roboto', sans-serif;
         font-weight: 100;
         line-height: 150%;
     }
     .electives table,
     tr,
     ul,
     .column-left li {
         font-family: 'Roboto', sans-serif;
         font-weight: 100;
         line-height: 150%;
         text-decoration: none;
         list-style-type: none;
         padding-left: 1pc;
         padding-right: 1pc;
     }
     .column-left {
         float: left;
         width: 25%;
     }
     .column-right {
         display: inline-block;
         width: 25%;
     }
     .column-center {
         display: inline-block;
         width: 25%;
     }
     .column-right-right {
         float: right;
         width: 24%;
     }
     .footer {
         position: static;
         bottom: 0px;
         width: 100%;
         /* Height of the footer */
         height: 70px;
         text-align: center;
         padding-bottom: 10px;
     }
     /* Start of index elements */
     .welcome {
         padding-bottom: 20px;
         padding-left: 20px;
         background-color: #FFFBD5;
     }
     .welcome h1 {
         padding-bottom: 20px;
         padding-top: 20px;
         text-align: left;
     }
     .welcome p {
         line-height: 150%;
     }
     .welcome li {
         list-style-type: circle;
     }
     #accolades {
         padding: 20px 20px;
         background-color: #FFF9B5;
     }
     #accolades h2 {
         padding-top: 20px;
         padding-bottom: 20px;
     }
     #accolades li {
         padding-bottom: 20px;
     }
     #apply {
         padding-left: 20px;
         padding-bottom: 20px;
         padding-top: 10px;
         background-color: #FFFBD5;
     }
     #apply h2 {
         padding-top: 20px;
         padding-bottom: 10px;
     }
     .youmust {
         font-family: 'Roboto', sans-serif;
         font-weight: 100;
         line-height: 150%;
         padding-left: 30px;
         background-color: #FFFBD5;
     }
     .youmust li {
         padding-top: 10px;
         padding-bottom: 10px;
     }
     #info {
         font-family: 'Roboto', sans-serif;
         font-weight: 100;
         padding-left: 20px;
         padding-bottom: 20px;
         padding-top: 20px;
         line-height: 150%;
         background-color: #FFFEF0;
     }
     /* End of index elements */
     .theacademies {
         padding-top: 40px;
         padding-left: 30px;
         padding-right: 30px;
     }
     .theacademies li {
         list-style-type: circle;
     }
     .projectbullets li {
         list-style-type: circle;
     }
     .projectspadding {
         padding-right: 30px;
         padding-left: 30px;
     }
     .globaleducation {
         padding-top: 40px;
         padding-left: 30px;
         padding-right: 30px;
     }
     #accolades {
         padding: 20px 20px;
     }
     .youmust {
         font-family: 'Roboto', sans-serif;
         font-weight: 100;
         line-height: 150%;
     }
     .research {
         padding-left: 30px;
         padding-right: 30px;
     }
     .howtoapply {
         padding-left: 30px;
         padding-right: 30px;
     }
     @media screen and (max-width:480px) {
         .body h1 {
             font-size: 30px;
         }
         #info {
             padding-left: 30px;
             padding-right: 30px;
         }
         #apply {
             padding-right: 30px;
             padding-left: 30px;
         }
     }
 }
 
 #button {
     background: url('media/arrow-204-64.png') center center no-repeat;
     margin: -140px 50px 0 0;
     display: flex;
     overflow: hidden;
     height: 140px;
     width: 140px;
     left: 45%;
     top: 0;
     align-items: center;
     position: relative;
     border: 0;
 }
 
 :focus {
     outline: none;
 }
 
 ::-moz-focus-inner {
     border: 0;
 }
 
 .seniors {
     padding-left: 20px;
     padding-right: 20px;
 }
 
 .sports {
     padding-left: 30px;
     padding-right: 30px;
 }
 
 .sports h1 {
     padding-top: 10px;
     padding-bottom: 20px;
 }
 
 .sports h2 {
     padding-bottom: 20px;
 }
 
 .sports h3 {
     padding-top: 20px;
     padding-bottom: 20px;
 }
 
 .sports p {
     padding-bottom: 20px;
 }
 
 .sports li {
     font-family: 'Roboto', sans-serif;
     font-weight: 100;
     line-height: 150%;
 }